*.pyc

# Packages
/dist/*

# Unit test / coverage reports
.coverage
.pytest_cache
coverage.xml

# Editor / tooling backups
*.bak
*.backup

.DS_Store
.idea/*
.python-version
.vscode/*

/docs/site/*
.mypy_cache

.venv
/poetry.toml